@model Application.ViewModel.Question.MultipleViewModel;

@{
	ViewData["Title"] = "Química";
}

<partial name="../Shared/Components/Title.cshtml" />

<br />
<article text-2xl>
    <fieldset class="space-y-2">
        <legend>1) (@Model.Organizer - @Model.Year) @Model.Statement</legend>
	    <div>
            <input type="radio" name="quimica1" value="AA"> @Model.OptionA
	    </div>

	    <div class="radio">
            <input type="radio" name="quimica1" value="AB"> @Model.OptionB
	    </div>

	    <div class="radio">
            <input type="radio" name="quimica1" value="AC"> @Model.OptionC
	    </div>

	    <div class="radio">
            <input type="radio" name="quimica1" value="AD"> @Model.OptionD
	    </div>

	    <div class="radio">
            <input type="radio" name="quimica1" value="AE"> E) @Model.OptionE
	    </div>
    </fieldset>
</article>

<script src="~/js/handleIcon.js"></script>
<script>handleIcon('disciplineIcon');</script>
